<launch>
  <!-- 3D sensor -->
  <arg name="3d_sensor" default="radar"/>  <!-- r200, kinect, asus_xtion_pro -->

    <!-- Add nodes to filter/limit Radar data before using it for avoid obstacle -->
  <include file="$(find turtlebot_mmwave_launchers)/launch/radar_limit_filters_obstacle.launch">
  </include>

  <arg name="auto_navi" value="true" />

  <!-- Add nodes to filter/limit Radar data before using it for navigation -->
  <group if="$(arg auto_navi)">
  <!-- <include file="$(find turtlebot_mmwave_launchers)/launch/radar_limit_filters.launch" /> -->

  <include file="$(find turtlebot_mmwave_launchers)/launch/radar_mapping.launch" />

  <!-- Map server 
  <node name="octomap_server" pkg="octomap_server" type="octomap_server_node" args="$(find turtlebot_mmwave_launchers)/launch/oy19.bt projected_map:=map" /> -->

  <!-- <include file="$(find autonomous_explore_map_plan)/launch/view_robot.launch"/>  -->

  </group>

  <!-- Fake localization node allows directly setting initial pose and goal -->
  <!--
  <node pkg="fake_localization" type="fake_localization" name="fake_localization">
    <param name="use_map_topic" value="true"/>
    <remap from="base_pose_ground_truth" to="odom"/>
  </node>
  -->

  <node name="potential_map" pkg="autonomous_nav" type="potential_map" output="screen"/>
  <node name="mission_handler" pkg="autonomous_nav" type="mission_node_copy.py" output="screen"/>
  <node name="dynamic_config" pkg="autonomous_nav" type="dynamic.py" output="screen"/>

  <node name="map_polygon" pkg="autonomous_nav" type="map_polygon.py" output="screen"/>
  <!-- <node name="test_map_polygon" pkg="autonomous_nav" type="test_transparent_layer.py" output="screen"/> -->

  <!-- Move base -->
  <arg name="custom_param_file" default="$(find turtlebot_navigation)/param/$(arg 3d_sensor)_costmap_params.yaml"/>
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>

  <!-- Convert voxel_grid to point cloud for visualization and debug -->
  <node name="voxel_grid_2_point_cloud" pkg="costmap_2d" type="costmap_2d_cloud">
    <remap from="voxel_grid" to="/move_base/local_costmap/obstacle_layer/voxel_grid"/>
    <remap from="voxel_marked_cloud" to="/move_base/local_costmap/obstacle_layer/marked_cloud"/>
    <remap from="voxel_unknown_cloud" to="/move_base/local_costmap/obstacle_layer/unknown_cloud"/>
  </node>
  
</launch>

